# Bikes available deltas

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import pprint
%load_ext autoreload

## Load data

In [43]:
status_2015 = pd.read_csv('~/Code/bikesupply/data/test_data/status_may15.csv', parse_dates = ['time'])
status_2016 = pd.read_csv('~/Code/bikesupply/data/test_data/status_may16.csv', parse_dates = ['time'])

## 2015

In [44]:
status_2015 = status_2015.set_index('time')

In [45]:
status_2015['hour'] = [ts.hour for ts in status_2015.index]
status_2015['weekday'] = [ts.weekday() for ts in status_2015.index]

In [46]:
means_2015 = status_2015.groupby(['weekday','station_id','hour']).mean()

## 2016

In [50]:
status_2016[0:5]

   station_id  bikes_available  docks_available                time  hour
0           2               13               14 2016-05-01 00:00:01     0
1           2               13               14 2016-05-01 00:01:01     0
2           2               13               14 2016-05-01 00:02:02     0
3           2               13               14 2016-05-01 00:03:01     0
4           2               13               14 2016-05-01 00:04:02     0

In [48]:
status_2016['hour'] = status_2016.time.dt.hour

In [52]:
status_2016['weekday'] = status_2016.time.dt.weekday

In [59]:
status_2016['day'] = status_2016.time.dt.day

In [60]:
status_2016[0:5]

,station_id,bikes_available,docks_available,time,hour,weekday,day
0,2,13,14,2016-05-01 00:00:01,0,6,1
1,2,13,14,2016-05-01 00:01:01,0,6,1
2,2,13,14,2016-05-01 00:02:02,0,6,1
3,2,13,14,2016-05-01 00:03:01,0,6,1
4,2,13,14,2016-05-01 00:04:02,0,6,1

## Merge 2015 and 2016

In [28]:
# new_df = status_2016['bikes_available'].resample('1H').mean()

In [61]:
means_2016 = status_2016.groupby(['day', 'weekday', 'station_id','hour']).mean()

In [69]:
means_2016[0:5]

                             bikes_available  docks_available
day weekday station_id hour
1   6       2          0                13.0             14.0
                       1                13.0             14.0
                       2                13.0             14.0
                       3                13.0             14.0
                       4                13.0             14.0

In [14]:
means_2015[0:5]

                         Unnamed: 0  bikes_available  docks_available  month
weekday station_id hour
0       2          0      366477.75        10.641667        16.108333    5.0
                   1      366537.75        10.729167        16.020833    5.0
                   2      366597.75        10.687500        16.062500    5.0
                   3      366657.75        10.712500        16.037500    5.0
                   4      366717.75        10.725000        16.025000    5.0

In [138]:
means_2015 = means_2015.reset_index()
means_2016 = means_2016.reset_index()

In [139]:
means_2016[0:5]

   day  weekday  station_id  hour  bikes_available  docks_available
0    1        6           2     0             13.0             14.0
1    1        6           2     1             13.0             14.0
2    1        6           2     2             13.0             14.0
3    1        6           2     3             13.0             14.0
4    1        6           2     4             13.0             14.0

In [143]:
merged_df = pd.merge(means_2015, means_2016, on = ['weekday', 'station_id', 'hour'])

In [144]:
merged_df[0:5]

,weekday,station_id,hour,Unnamed: 0,bikes_available_x,docks_available_x,month,day,bikes_available_y,docks_available_y
0,0,2,0,366477.75,10.641667,16.108333,5.0,2,8.0,19.0
1,0,2,0,366477.75,10.641667,16.108333,5.0,9,7.0,20.0
2,0,2,0,366477.75,10.641667,16.108333,5.0,16,5.0,22.0
3,0,2,0,366477.75,10.641667,16.108333,5.0,23,12.0,15.0
4,0,2,0,366477.75,10.641667,16.108333,5.0,30,7.0,20.0

In [145]:
merged_df.rename(columns={'bikes_available_x': '2015_bikes_available', 'docks_available_x': '2015_docks_available', 'bikes_available_y': '2016_bikes_available', 'docks_available_y': '2016_docks_available'}, inplace=True)

In [146]:
merged_df[0:5]

,weekday,station_id,hour,Unnamed: 0,2015_bikes_available,2015_docks_available,month,day,2016_bikes_available,2016_docks_available
0,0,2,0,366477.75,10.641667,16.108333,5.0,2,8.0,19.0
1,0,2,0,366477.75,10.641667,16.108333,5.0,9,7.0,20.0
2,0,2,0,366477.75,10.641667,16.108333,5.0,16,5.0,22.0
3,0,2,0,366477.75,10.641667,16.108333,5.0,23,12.0,15.0
4,0,2,0,366477.75,10.641667,16.108333,5.0,30,7.0,20.0