# Status Data Cleaning

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pprint

In [8]:
# Use this in bash to cleanup the BABS data before loading and transforming in Jupyter 
# I noticed that the 2016 data is in the form of "84","7","8","5/31/2016 23:50:01"
# while 2015 data is in the the form of 84,8,7,"2015-08-31 23:50:02"
# I chose to convert this format to ISO 8601 dates to speed up the recognition of these data as datetimes when running parse_dates 
# sed -E 's/([0-9]+)\/([0-9]+)\/([0-9]+)/\3-\1-\2/g' may_2016_status.csv > test.csv

### 2015

In [4]:
s_15 = pd.read_csv('~/Code/bikesupply/data/babs_download/status_data/201508_status_data.csv', parse_dates = ['time'])

KeyboardInterrupt:

In [2]:
s_15['time'] = pd.to_datetime(s_15['time'])

In [3]:
s_15['month'] = s_15.time.dt.month

In [ ]:
#s_16['month'] = s_16.time.dt.month

In [4]:
s_15_may = s_15.query('month == 5')

In [6]:
s_15_may[10000:10010]

,station_id,bikes_available,docks_available,time,month
357015,2,13,14,2015-05-07 22:49:03,5
357016,2,13,14,2015-05-07 22:50:02,5
357017,2,13,14,2015-05-07 22:51:02,5
357018,2,13,14,2015-05-07 22:52:02,5
357019,2,13,14,2015-05-07 22:53:02,5
357020,2,13,14,2015-05-07 22:54:02,5
357021,2,13,14,2015-05-07 22:55:02,5
357022,2,13,14,2015-05-07 22:56:02,5
357023,2,13,14,2015-05-07 22:57:02,5
357024,2,13,14,2015-05-07 22:58:02,5

In [7]:
s_15_may.to_csv("status_may15.csv")

### 2016

In [5]:
s_16 = pd.read_csv('~/Code/bikesupply/data/babs_download/status_data/test.csv', parse_dates = ['time'])

In [7]:
s_16[0:5]
s_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2979121 entries, 0 to 2979120
Data columns (total 4 columns):
station_id         int64
bikes_available    int64
docks_available    int64
time               datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 90.9 MB

In [ ]:
s_16['month'] = s_16.time.dt.month

In [ ]:
s_16_may = s_16.query('month == 5')

In [ ]:
s_16_may.to_csv("status_may16.csv")