# Status Data Cleaning

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pprint

s_15 = pd.read_csv('~/Code/babs/data/babs_download/status_data/201508_status_data.csv')
s_16 = pd.read_csv('~/Code/babs/data/babs_download/status_data/201608_status_data.csv')

In [13]:
print len(s_15)
print len(s_16)

36647622
35517185

In [16]:
s_16[2000000:2000005]

         station_id  bikes_available  docks_available                time
2000000           5                5               14  7/24/2016 02:45:01
2000001           5                5               14  7/24/2016 02:46:01
2000002           5                5               14  7/24/2016 02:47:02
2000003           5                5               14  7/24/2016 02:48:01
2000004           5                5               14  7/24/2016 02:49:01

## Segment out May for 2015 and 2016

### 2015

In [2]:
s_15['time'] = pd.to_datetime(s_15['time'])

In [3]:
s_15['month'] = s_15.time.dt.month

In [ ]:
#s_16['month'] = s_16.time.dt.month

In [4]:
s_15_may = s_15.query('month == 5')

In [6]:
s_15_may[10000:10010]

,station_id,bikes_available,docks_available,time,month
357015,2,13,14,2015-05-07 22:49:03,5
357016,2,13,14,2015-05-07 22:50:02,5
357017,2,13,14,2015-05-07 22:51:02,5
357018,2,13,14,2015-05-07 22:52:02,5
357019,2,13,14,2015-05-07 22:53:02,5
357020,2,13,14,2015-05-07 22:54:02,5
357021,2,13,14,2015-05-07 22:55:02,5
357022,2,13,14,2015-05-07 22:56:02,5
357023,2,13,14,2015-05-07 22:57:02,5
357024,2,13,14,2015-05-07 22:58:02,5

In [7]:
s_15_may.to_csv("status_may15.csv")

### 2016

In [ ]:
# Something is getting stuck in 2016

In [8]:
s_16['time'] = pd.to_datetime(s_16['time'])

KeyboardInterrupt:

In [ ]:
s_16['month'] = s_16.time.dt.month

In [ ]:
s_16_may = s_16.query('month == 5')

In [ ]:
s_16_may.to_csv("status_may16.csv")